@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:wght@100;300;400;700&display=swap');

.nome-loja{
    color: #1c3d30;
    font-family: "Great Vibes", cursive;
    font-size: 60px;
}

#sobre .nome-loja {
    font-size: 60px;
}

header{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.171);
    background-color: white;
}

header i{
    color: black;
    font-size: 22px;
    padding-right: 5px;
}

header form input{
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    font-size: 15px;
}

form input{
    width: 100px;
}

.nav-pills .nav-link{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: #183029;
    letter-spacing: 2px;
    font-size: 14px;
    border-radius: 0px;
}

.nav-pills .nav-link:hover{
    font-weight: bold;
    border-bottom: 2px solid #183029;
    padding-bottom: 1px;
}

#txt-sobre{
    font-size: 15px;
    line-height: 20px;
    letter-spacing: .05em;
    margin: 60px 0px;
}

#txt-sobre strong{
    color: #1c3d30;
}

#txt-sobre div{
    display: flex;
    justify-content: center;
}

#txt-sobre div button,#contato button{
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 7px 40px;
    font-size: 15px;
    background-color: white;
    border: 2px solid #1c3d30;
    font-weight: 500;
}

#txt-sobre div button:hover,#contato button:hover{
    background-color: #61746e;
    transition: .3s ease-in-out;
}

#contato button{
    width: 100%;
}

#contato textarea{
    resize: none;
    height: 100px;
}


.nav-pills .nav-link.active{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    color: #183029;
    letter-spacing: 2px;
    font-size: 14px;
    border-radius: 0px;
    background: none;
    border-bottom: 2px solid #183029;
    padding-bottom: 1px;
}

.container-item {
    position: relative;
    display: inline-block;
}

.container-item:hover img {
    filter: brightness(60%);
    transition: 0.6s ease-in-out;
    
}

.container-item.hovered .item-nome {
    transition: 0.4s ease-in-out;
}

section button {
    padding: 0px;
    border: none;
}

.nav-tabs .nav-link{
    width: 150px;
}

.nav-tabs .nav-link{
    font-weight: bold;
    color: #61746e;
}

.nav-tabs .nav-link.active{
    color: #183029;
}

.preco,.preco a{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    padding-top: 10px;
    color: #61746e;
}

.preco a{
    text-decoration: none;
    color: #61746e;
}

.preco a:hover{
    text-decoration: underline;
}

footer,footer p{
    text-align: center;
    background-color: #1c3d30;
    margin: 0px;
    padding: 10px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}    

footer a{
    text-decoration: none;
    color: wheat;  
}

footer a:hover{
    text-decoration: underline;
}

.redes-sociais ul,.redes-sociais a{
    list-style: none;
    font-size: 30px;
    color: #1c3d30;
    padding: 0px 5px;
}

.error{
    color: red;
}