@media screen and (max-width: 767px){
    a.nav-link{
        margin: auto;
        width: 200px;
    }

    .itens-nav{
        display: flex;
        justify-content: center;
    }

}

@media screen and (min-width: 767px) {
    .itens-nav{
        display: flex;
        justify-content: center;
    }

}


@media screen and (max-width: 992px){
    .item-nome {
        font-size: 23px;
    }

    .container-item.hovered .item-nome{
        font-size: 28px;
    }

    a.nav-link{
        margin: auto;
        width: 200px;
    }
}

@media screen and (min-width: 1920px) {
    .carousel {
        max-width: 1920px;
        margin: auto;
    }
}